/* *** INTRO SCREEN *** */

#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F7FB;
}

.intro-description {
  max-width: 325px;
  text-align: center;
  margin-top: 50px;
  
}

.hidden {
  display: none;
}

.start-btn {
  margin-top: 50px;
  font-size: 1rem;
  padding: 10px 25px;
  border: none;
  border-radius: 12px;
  background-color: #4D5B9E;
  color: #fff;
  cursor: pointer;
}

.start-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  max-width: 800px;
  background-color: #F5F7FB;
}

.question-container {
  padding: 1rem;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  width: 100%;
}

.answer-container {
  margin-top: 20px;
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}

.answer-container input {
  border: none;
  border-radius: 12px;
  padding: 7px 15px;
  /* background:none; */
  color: #293264;
  border: 1px solid #4D5B9E;

  
}


input:active {
  border: none;
  background-color: #D6DBF5;
}

.clicked {
  background-color: #4D5B9E;
}

.incorrect{
  background: rgba(255,0,0,0.4);
}

.correct {
  background: rgba(0,128,0,0.4);
}